:root {
    --main-pink: #ff99cc;
}

body {
    font-family: bison;
    font-weight: bold;

}
.left-container {
    background-color: var(--main-pink);
}


  .citation-box {
    border: solid 2px black;
    border-radius: 3px;
    box-shadow: -3px 3px 0px var(--main-pink);
  }
  .avatar-box {
    border: solid 2px black;
    border-radius: 3px;
    box-shadow: -3px 3px 0px var(--main-pink);

  }

  .progress-bar {
    background-color: var(--main-pink);
    box-shadow: -3px 3px 0px black;
  }

.right-container {

}

