:root {
    --main-color: #ff99cc;
}

body {
    font-family: bison;
    font-weight: bold;

}
.left-container {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px black;
  }
  
  .text-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .citation-box {
    border: solid 2px black;
    border-radius: 3px;
    box-shadow: -3px 3px 0px var(--main-color);
  }
  .avatar-box {
    border: solid 2px black;
    border-radius: 3px;
    box-shadow: -3px 3px 0px var(--main-color);

  }

  .progress-bar {
    background-color: var(--main-color);
    box-shadow: -3px 3px 0px black;
  }

.right-container {
border-top: solid 2px black;
border-right: solid 2px black;
border-bottom: solid 2px black;
}

#Circle {
    border: solid 2px black;
    border-radius: 360px;
    box-shadow: -4px 3px 0px black;
}

.image-container {
    position: relative;
  }
  
  .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    animation: spin 3s linear infinite;
  }

  /* #birthday_name {
    align-self: center;
  } */

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

    

